/* Контейнер документа */
.div-document {
    position: relative;
    padding: 19px 30px 30px 30px;
    width: 641px;
    height: 694px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);

}

/* Верхняя информация (дата и источник) */
.top-information {
    position: relative;
}

.date {
    margin: 0;
    padding: 0;
    /*position: absolute;*/
    width: 100px;
    left: 30px;
    top: 19px;
    color: #949494;
    font-size: 16px;
    font-family: Inter, sans-serif;
}

.source {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 132px;
    top: 0;
    color: #949494;
    text-decoration: underline;
    font-size: 16px;
    font-family: Inter, sans-serif;
    cursor: pointer;
}

.div-head-of-document {
    /*margin-top: 24px;*/
    font-size: 26px;
    font-family: Inter, sans-serif;
}

.head-of-document {
    margin-top: 24px;
    margin-bottom: 14px;
}

.div-image-of-document {
    margin-top: 14px;
    text-align: center;
}

.image-of-document {
        width: 581px;
        height: 158px;
        object-fit: cover; /* Изображение заполняет контейнер, сохраняя пропорции */
        border-radius: 10px;
}


.div-tag {
    width: 157px;
    /*height: 22px;*/
    border-radius: 5px;
    background: #FFB64F ;
    padding: 4px 12px;
    margin-bottom: 14px;
}

.head-tag {
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
}

.div-content {
    width: 581px;
    height: 350px;
    overflow: hidden;
}

.document-content {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: #949494;
    line-height: 20px;
    font-weight: 400;

}

.document-text {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.div-read-in-source {
    padding: 14px 30px 14px 30px;
    position: absolute;
    bottom: 35px;
    left: 0;
}

.button-read-in-source {
    width: 223px;
    height: 47px;
    background: #7CE3E1;
    color: black;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.text-number-of-words {
    position: absolute;
    bottom: 35px;
    right: 28px;
    color: #949494;
    font-size: 16px;
    font-weight: 400;
    font-family: Inter, sans-serif;
}
