/* Распределение левой и правой части */
.both-parts {
    display: flex;
    justify-content: space-between;
    margin: 0 550px 0 550px;
}

/*------------------------------------------------ Левая часть -------------------------------------------------------*/

/* Главный текст */
.text-authorization {
    font-size: 48px;
    font-weight: 900;
    font-family: Ferry, sans-serif;
    text-transform: uppercase;
    margin: 0;
}

/* Контейнер картинки "Люди несут ключ" */
.div-people-carrying-key {
    text-align: center;
}

/*------------------------------------------------ Правая часть ------------------------------------------------------*/

/* Контейнер формы регистрации*/
.container-entrance {
    position: relative;
    width: 429px;
    height: 523px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Контейнер картинки "Замок" в углу формы */
.div-lock {
    position: absolute;
    top: -60px;
    right: 400px;
    opacity: 100%;
}

/* Ссылка "Войти" на верху формы*/
.log-tab {
    position: absolute;
    top: 25px;
    left: 77px;
    color: #029491;
    font-size: 16px;
    font-family: Inter, sans-serif;
    /*cursor: pointer;*/
    text-decoration: none;
}

/* Линия под ссылкой "Войти" */
.hr-log-tab-enter {
    position: absolute;
    top: 52px;
    left: 25px;
    /*color: #C7C7C7;*/
    width: 151px;
    border-top: 2px solid #029491;
    height: 2px;
}

/* Ссылка "Зарегестрироваться" на верху формы*/
.reg-tab {
    position: absolute;
    top: 25px;
    right: 48px;
    color: #C7C7C7;
    font-size: 16px;
    font-family: Inter, sans-serif;
    text-decoration: none;
    /*cursor: pointer;*/
}

/* Линия под ссылкой "Зарегестрироваться" */
.hr-log-tab-registration {
    position: absolute;
    top: 52px;
    right: 25px;
    /*color: #C7C7C7;*/
    width: 213px;
    border-top: 2px solid #C7C7C7;
    height: 2px;
}

/* Тело формы (не работает)*/
/*.body-entrance {*/
/*    padding-left: 25px;*/
/*    margin-bottom: 30px;*/
/*}*/

/* Текст "Логин или номер телефона" */
.text-log-or-number {
    margin: 0;
    position: absolute;
    top: 94px;
    left: 25px;
    text-align: left;
    font-size: 16px;
    font-family: Inter, sans-serif;
    color: #949494;
}

/* Инпут под текстом "Логин или номер телефона" */
.input-log-or-number {
    margin: 0;
    position: absolute;
    top: 128px;
    left: 25px;
    width: 379px;
    height: 43px;
}

/* Текст "Пароль" */
.text-password {
    margin: 0;
    position: absolute;
    top: 191px;
    left: 25px;
    font-size: 16px;
    font-family: Inter, sans-serif;
    color: #949494;
}

/* Инпут под текстом "Пароль" */
.input-password {
    margin: 0;
    position: absolute;
    top: 225px;
    left: 25px;
    width: 379px;
    height: 43px;
}

/* Главная кнопка "Войти" */
.button-entrance {
    position: absolute;
    top: 298px;
    left: 25px;
    width: 379px;
    height: 59px;
    background: #5970FF;
    font-size: 22px;
    font-weight: 500;
    font-family: Inter, sans-serif;
    border: none;
    color: white;
    text-align: center;
}

/* При наведении на кнопку "Войти" */
.button-entrance:hover {
    cursor: pointer;
}

/* Кнопка "Войти" неактивная */
.button-entrance:disabled {
    cursor: not-allowed; /* Изменение курсора на "запрещающий" */
    opacity: 50%
}

/* Текст "Восстановить пароль" */
.text-recover-password {
    position: absolute;
    top: 372px;
    left: 139px;
    text-align: center;
    font-family: Inter, sans-serif;
    color: #5970FF;
    margin-bottom: 30px;
}

/* Контейнер "Войти через" */
.log-in-using {
    margin-bottom: 39px;
}

/* Текст "Войти через" */
.text-log-in-using {
    position: absolute;
    bottom: 85px;
    left: 25px;
    color: #949494;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}

/* Картинка Google */
.site-button-google {
    position: absolute;
    bottom: 39px;
    left: 25px;
    cursor: pointer;
}

/* Картинка Facebook */
.site-button-facebook {
    position: absolute;
    bottom: 39px;
    left: 131px;
    cursor: pointer;
}

/* Картинка Yandex */
.site-button-yandex {
    position: absolute;
    bottom: 39px;
    right: 96px;
    cursor: pointer;
}

