/* Распределение левой и правой части */
.both-parts {
    display: flex;
    justify-content: space-between;
    margin: 0 550px 0 550px;
}

/*------------------------------------------------ Левая часть -------------------------------------------------------*/

/* Главный текст */
.text-authorization {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Ferry', Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
}

/* Контейнер картинки "Люди несут ключ" */
.div-people-carrying-key {
    text-align: center;
}

/*------------------------------------------------ Правая часть ------------------------------------------------------*/


/* Для замены местами с container-entrance (при 818px экран)*/
.div-people-carrying-key2 {
    display: none;
}


/* Контейнер формы регистрации*/
.container-entrance {
    position: relative;
    width: 429px;
    height: 523px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Контейнер картинки "Замок" в углу формы */
.div-lock {
    position: absolute;
    top: -60px;
    right: 400px;
    opacity: 100%;
}

/* Ссылка "Войти" на верху формы*/
.log-tab {
    position: absolute;
    top: 25px;
    left: 77px;
    color: #029491;
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
    /*cursor: pointer;*/
    text-decoration: none;
}

/* Линия под ссылкой "Войти" */
.hr-log-tab-enter {
    position: absolute;
    top: 52px;
    left: 25px;
    /*color: #C7C7C7;*/
    width: 151px;
    border-top: 2px solid #029491;
    height: 2px;
}

/* Ссылка "Зарегестрироваться" на верху формы*/
.reg-tab {
    position: absolute;
    top: 25px;
    right: 48px;
    color: #C7C7C7;
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
    text-decoration: none;
    /*cursor: pointer;*/
}

/* Линия под ссылкой "Зарегестрироваться" */
.hr-log-tab-registration {
    position: absolute;
    top: 52px;
    right: 25px;
    /*color: #C7C7C7;*/
    width: 213px;
    border-top: 2px solid #C7C7C7;
    height: 2px;
}

/* Тело формы (не работает)*/
/*.body-entrance {*/
/*    padding-left: 25px;*/
/*    margin-bottom: 30px;*/
/*}*/

/* Текст "Логин или номер телефона" */
.text-log-or-number {
    margin: 0;
    position: absolute;
    top: 94px;
    left: 25px;
    text-align: left;
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
    color: #949494;
}

/* Инпут под текстом "Логин или номер телефона" */
.input-log-or-number {
    margin: 0;
    position: absolute;
    top: 128px;
    left: 25px;
    width: 379px;
    height: 43px;
    border: 1px solid rgba(199, 199, 199, 1);
    border-radius: 5px;

}

/* Текст "Пароль" */
.text-password {
    margin: 0;
    position: absolute;
    top: 191px;
    left: 25px;
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
    color: #949494;
}

/* Инпут под текстом "Пароль" */
.input-password {
    margin: 0;
    position: absolute;
    top: 225px;
    left: 25px;
    width: 379px;
    height: 43px;
    border: 1px solid rgba(199, 199, 199, 1);
    border-radius: 5px;
}

/* Главная кнопка "Войти" */
.button-entrance {
    position: absolute;
    top: 298px;
    left: 25px;
    width: 379px;
    height: 59px;
    background: #5970FF;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Inter', Arial, sans-serif;
    border: none;
    color: white;
    text-align: center;
    border-radius: 5px;
}

/* При наведении на кнопку "Войти" */
.button-entrance:hover {
    cursor: pointer;
}

/* Кнопка "Войти" неактивная */
.button-entrance:disabled {
    cursor: not-allowed; /* Изменение курсора на "запрещающий" */
    opacity: 50%
}

/* Текст "Восстановить пароль" */
.text-recover-password {
    position: absolute;
    top: 372px;
    left: 139px;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    color: #5970FF;
    margin-bottom: 30px;
}

/* Контейнер "Войти через" */
.log-in-using {
    margin-bottom: 39px;
}

/* Текст "Войти через" */
.text-log-in-using {
    position: absolute;
    bottom: 85px;
    left: 25px;
    color: #949494;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', Arial, sans-serif;
}

/* Картинка Google */
.site-button-google {
    position: absolute;
    bottom: 39px;
    left: 25px;
    cursor: pointer;
}

/* Картинка Facebook */
.site-button-facebook {
    position: absolute;
    bottom: 39px;
    left: 131px;
    cursor: pointer;
}

/* Картинка Yandex */
.site-button-yandex {
    position: absolute;
    bottom: 39px;
    right: 96px;
    cursor: pointer;
}

.error-text {
    position: absolute;
    bottom: 232px;
    left: 136px;
}

.input-error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/*------------------------------------------------ Стили для уменьшенного экрана -------------------------------------*/

@media (max-width: 2450px) {
    .both-parts {
        margin-left: 510px;
        margin-right: 510px;
    }
}


@media (max-width: 2364px) {
    .both-parts {
        margin-left: 450px;
        margin-right: 450px;
    }
}


@media (max-width: 2250px) {
    .both-parts {
        margin-left: 400px;
        margin-right: 400px;
    }
}

@media (max-width: 2150px) {
    .both-parts {
        margin-left: 350px;
        margin-right: 350px;
    }
}

@media (max-width: 2050px) {
    .both-parts {
        margin-left: 300px;
        margin-right: 300px;
    }
}

@media (max-width: 1950px) {
    .both-parts {
        margin-left: 250px;
        margin-right: 250px;
    }
}

@media (max-width: 1900px) {
    .both-parts {
        margin-left: 190px;
        margin-right: 190px;
    }
}

@media (max-width: 1720px) {
    .both-parts {
        margin-left: 60px;
        margin-right: 60px;
    }
}


@media (max-width: 1318px) {
    .text-authorization {
        font-size: 32px;
    }
}

@media (max-width: 1172px) {
    .text-authorization {
        font-size: 32px;
    }

    .container-entrance {
        width: 335px;
        height: 504px;
    }

    .div-lock {
        right: 303px;
    }

    .log-tab {
        font-size: 14px;
        left: 46px;
    }

    .reg-tab {
        font-size: 14px;
        right: 31px;
    }

    .hr-log-tab-enter {
        width: 103px;
        left: 15px;
    }

    .hr-log-tab-registration {
        width: 182px;
        right: 15px;
    }

    .text-log-or-number, .text-password {
        left: 15px;
        font-size: 14px;
    }

    .input-log-or-number, .input-password {
        left: 15px;
        width: 305px;
    }

    .button-entrance {
        left: 15px;
        width: 305px;
        font-size: 20px;
    }

    .text-recover-password {
        left: 92px;
    }

    .text-log-in-using {
        left: 15px;
        bottom: 50px;
    }

    .site-button-google {
        left: 15px;
        bottom: 20px;
    }

    .site-button-facebook {
        left: 120px;
        bottom: 20px;
    }

    .site-button-yandex {
        right: 15px;
        bottom: 20px;
    }
}

@media (max-width: 1082px) {
    .text-authorization {
        font-size: 25px;
    }
}


@media (max-width: 950px) {
    .text-authorization {
        font-size: 22px;
    }
}

@media (max-width: 900px) {
    .both-parts {
        margin-left: 14px;
        margin-right: 26px;
    }
}



@media (max-width: 818px) {
    .both-parts {
        flex-direction: column;
        align-items: center;
    }

    .div-people-carrying-key {
        display: none;
    }

    .div-people-carrying-key2 {
        display: block;
        margin-bottom: 80px;
    }

    .text-authorization {
        margin-bottom: 83px;
    }

    .div-lock {
        top: -80px;
        right: 180px;
    }

    .container-entrance {
        margin-bottom: 49px ;
    }

    .img-people-carrying-key-icon2 {
        width: 335px;
        height: 356px;
    }

}

