/* Главный класс */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 24px;
}

/* Список элементов навигации (Главная, Тарифы, FAQ)*/
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* Элемент навигации */
.list-item {
    margin-right: 49px;
    /*width: 57px;*/
    /*height: 17px;*/
}

/* Ссылка внутри элемента навигации */
.list-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    font-family: 'Inter', Arial, sans-serif;

}

.burger-menu {
    display: none;
}

/*============================================ Если пользователь не авторизован ======================================*/

/* Все элементы неавторизованного пользователя */
.my-office {
    width: 251px;
    height: 26px;
    display: flex;
    justify-content: space-between;
}

/* Ссылка для регистрации */
.sign-up {
    text-decoration: none;
    font-size: 20px;
    color: grey;
    margin-right: 18px;
}

/* Кнопка "Войти" */
.my-office-button {
    width: 65px;
    height: 26px;
    background-color: #7CE3E1;
    border-radius: 5px;
    border: none;
    margin-left: 18px;
    cursor: pointer;
}

/* Текст "Войти" */
.entrance {
    font-weight: bold;
    font-family: 'Inter', Arial, sans-serif;
}

/*============================================ Если пользователь авторизован ======================================*/

/* Все элементы авторизованного пользователя */
.authorized {
    /*display: flex;*/
    /*justify-content: space-around;*/
    gap: 100px;
}


/*--------------------------------------------------Имя и фото профиля------------------------------------------------*/
.info-about-user {
    display: flex;
    align-items: center; /* Центрируем вертикально элементы */
    gap: 16px; /* Отступ между фото и текстом */
}

.user-details {
    display: flex;
    flex-direction: column; /* Расположить имя и "Выйти" вертикально */
    align-items: flex-end; /* Выравнивание по левому краю */
}

.user-name {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
}

.quit {
    font-size: 12px;
    color: grey;
    text-decoration: none;
    margin-top: 4px; /* Отступ от имени */
    font-family: 'Inter', Arial, sans-serif;
}

.photo-profile {
    width: 32px; /* Размер аватарки */
    height: 32px;
    border-radius: 50%; /* Круглая форма */
    object-fit: cover; /* Обрезка для фото */

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Элементы информации о компании (использовано компаний, лимит по компаниям)*/
.info-about-companies {
    position: absolute;
    top: 15px;
    right: 299px;
    width: 175px;
    height: 63px;
    background: rgba(217, 217, 217, 0.3);

    /*opacity: 30%;*/
    border-radius: 5px;
    /*z-index: 100; !* Слой поверх других элементов *!*/
}

.info-close {
    display: none;
}

/* Использовано компаний и лимит по компаниям */
.used-companies, .limit-companies {
    padding-top: 10px;
    margin: 0;
    color: grey;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
}

.limit-companies {
    padding-top: 7px;
}

.how-much-used-companies {
    font-family: 'Inter Semi Bold', Arial, sans-serif;
    font-size: 14px;
    /*font-weight: 700;*/
    color: black;
    margin-left: 6px;

}

.how-much-limit-companies {
    font-family: 'Inter Semi Bold', Arial, sans-serif;
    font-size: 14px;
    /*font-weight: 700;*/
    color: #8AC540;
    margin-left: 6px;
}

/*------------------------------------------------ Стили для уменьшенного экрана -------------------------------------*/

@media (max-width: 1435px) {
    .info-about-companies {
        right: 232px;
    }
}

@media (max-width: 1264px) {
    .info-about-companies {
        right: 168px;
    }
}

@media (max-width: 1220px) {
    .header {
        margin-left: 14px;
        margin-right: 26px;
    }

    .logo-header {
        width: 111px;
        height: 111px;
    }

    .list-link {
        font-size: 18px;
    }

    .info-about-companies {
        right: 166px;
    }
}

@media (max-width: 1036px) {
    .info-about-companies {
        width: 134px;
        right: 156px;
    }
}

@media (max-width: 934px) {
    .info-about-companies {
        width: 100px;
        right: 147px;
    }

    .used-companies, .limit-companies {
        font-size: 8px;
        padding-top: 5px;
    }

    .how-much-used-companies, .how-much-limit-companies {
        font-size: 12px;
    }

}

@media (max-width: 900px) {
    .list-link {
        font-size: 13px;
    }


    .used-companies, .limit-companies {
        font-size: 8px;
        padding-top: 5px;
    }

    .how-much-used-companies, .how-much-limit-companies {
        font-size: 12px;
    }

    .user-name {
        font-size: 11px;
    }

    .quit {
        font-size: 10px;
    }

    .info-about-companies {
        width: 100px;
        right: 147px;
    }
}

@media (max-width: 828px) {
    .info-about-companies {
        width: 67px;
        right: 125px;
    }
}

/*------------------------------------------------ Стили для мобильного экрана ---------------------------------------*/

@media (max-width: 768px) {
    .header {
        margin-left: 14px;
        margin-right: 26px;
    }

    .info-about-companies {
        text-align: center;
        width: 132px;
        height: 75px;
    }

    .used-companies, .limit-companies {
        padding-top: 10px;
        margin: 0;
        color: grey;
        font-family: 'Inter', Arial, sans-serif;
        font-size: 8px;
        text-align: center;

    }

    .how-much-used-companies, .how-much-limit-companies {
        font-size: 14px;
    }

    .my-office {
        display: none;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .burger-menu-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #029491;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu-content {
        color: white;
        text-align: center;
    }

    .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: white;
        background: none;
        border: none;
        cursor: pointer;
    }

    .menu-list {
        list-style: none;
        padding: 0;
    }

    .menu-list li {
        margin: 15px 0;
    }

    .menu-actions .my-office-button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #6be1d1;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media (max-width: 408px) {
    .info-about-companies {
        right: 71px;
    }

}
