/* Распределение левой и правой части */
.both-parts-search {
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    /*padding: 0 60px; !* Отступы, чтобы элементы не прилипали к краям *!*/

}

/*------------------------------------------------ Левая часть -------------------------------------------------------*/

.head {
    position: relative;
}


/* Главный текст */
.text-head {
    text-transform: uppercase;
    font-family: 'Ferry', Arial, sans-serif;
    font-size: 40px;
    font-weight: 900;
}

/* Текст подсказка (под главным текстом) */
.hint {
    font-size: 20px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
}

.div-green-leaf2 {
    display: none;
}

/* Форма поиска */
.search-form {
    width: 872px;
    height: 543px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    padding: 21px 40px 50px 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

/* Тексты заголовков для заполнения */
.text-INN, .text-tonality, .text-documents, .range-text {
    font-size: 18px;
    font-family: 'Inter', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Контейнер ИНН */
.INN {
    width: 242px;
    height: 93px;
    margin-bottom: 30px;
}

/* Ошибка валидности данных */
.error-message {
    font-size: 14px;
    font-family: 'Inter', Arial, sans-serif;
    color: #FF5959;
}



/* Стили для звездочки (Поля для обязательного заполнения. Инн, кол-во документов, даты) */
.required-asterisk {
    color: black; /* Обычный цвет */
}

/* Инпут ИНН */
.input-INN {
    width: 242px;
    height: 43px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
}



/* Контейнер тональность */
.tonality {
    width: 242px;
    height: 85px;
    margin-bottom: 21px;
}

/* Поле выбора тональности */
.select-tonality {
    width: 242px;
    height: 43px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    font-size: 14px;
}

.option-tonality {
    font-family: 'Inter', Arial, sans-serif;
}

/* Контейнер документы */
.documents {
    width: 328px;
    height: 94px;
    margin-bottom: 30px;
}

/* Поле ввода количества документов */
.input-documents {
    width: 242px;
    height: 43px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
}

/* Контейнер диапазон поиска */
.range {
    width: 372px;
    height: 94px;
}

/* Контейнер дат */
.dates {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Поля для начала и конца даты поиска */
.start-date, .end-date {
    width: 176px;
    height: 43px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
}

/* Скрытие стандартного календарного индикатора (но не всего поля ввода) */
.start-date::-webkit-calendar-picker-indicator,
.end-date::-webkit-calendar-picker-indicator {
    margin-right: 10px;
    /*padding-right: 30px; !* Оставить место для стрелки *!*/
    background: url('/public/icons/arrowDown.svg') no-repeat right center; /* Позиционирование стрелки справа */
    background-size: 15px 15px; /* Размер иконки */
}

.start-date::before {
    color: #C7C7C7;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Чекбоксы (галочки)*/
.checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 90px;
}

/* Галочки */
.input-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}


/* Текст чекбоксов */
.text-label-checkboxes {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', Arial, sans-serif;
    margin-bottom: 15px;
}

/* Рамка поля становится красным при ошибке валидности */
.input-error {
    border: 1px solid #FF5959
}

/* Кнопка поиска */
.button-search {
    width: 305px;
    height: 59px;
    background: #5970FF;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Inter', Arial, sans-serif;
}

/* При наведении на кнопку поиск */
.button-search:hover {
    cursor: pointer;
}

/* Кнопка поиск неактивана, пока не заполнены обязательные поля */
.button-search:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

/* Текст объясняющий про звёздочку (*) */
.explanation {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', Arial, sans-serif;
    color: #949494;
}


/*------------------------------------------------ Правая часть ------------------------------------------------------*/

/* Правая часть */
.right-part {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Картинки сверху (папки) */
.top-pictures {
    display: flex;
    justify-content: space-around;
    /*position: absolute;*/
    /*top: 100px;*/

    margin-top: 132px;
}

/* Контейнер зелёного листа */
.div-green-leaf {
    /*position: absolute;*/
    /*right: 0;*/
    margin-right: auto;

}

/* Контейнер папок */
.div-folders {
    /*display: inline;*/
    /*position: absolute;*/
    /*right: 500px;*/

}

/* Картина "Парень и ракета" */
.div-man-and-rocket {
    /*position: absolute;*/
    /*right: 500px;*/
    /*bottom: 0;*/
    margin-top: auto;
}

/*!* Скрываем стандартный чекбокс *!*/
/*.input-checkbox {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    margin-right: 7px;*/
/*    opacity: 0; !* Скрываем стандартный чекбокс *!*/
/*    position: relative; !* Для позиционирования псевдо-элемента *!*/
/*}*/

/* Создаем кастомный чекбокс */
.input-checkbox::before {
    content: ''; /* Для пустого псевдо-элемента */
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid black; /* Светло-серая рамка */
    /*border-radius: 4px; !* Скругляем углы *!*/
    background-color: white; /* Белый фон */
    transition: background-color 0.3s, border-color 0.3s; /* Плавные переходы */
}

/* Когда чекбокс выбран, показываем зелёную галочку */
.input-checkbox:checked::before {
    content: url("/public/icons/green-checkmark-for-checkbox.svg"); /* Галочка */
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #4CAF50; !* Зелёный фон *!*/
    /*border-color: #4CAF50; !* Зелёная рамка *!*/
}

/* Галочка */
.input-checkbox:checked::after {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 14px;
    color: white; /* Белый цвет для галочки */
}





/*------------------------------------------------ Стили для уменьшенного экрана -------------------------------------*/

@media (max-width: 1450px) {
    .search-form {
        width: 675px;
        padding: 32px 14px;
    }
}

@media (max-width: 1200px) {
    .text-head {
        font-size: 28px;
    }

    .hint {
        font-size: 18px;
    }

    .both-parts-search {
        flex-direction: column;
        align-items: center;
    }

    .img-man-and-rocket {
        width: 379px;
        height: 403px;
    }

    .top-pictures {
        margin-top: 60px;
    }

    .green-leaf {
        width: 58px;
        height: 71px;
    }

}


@media (max-width: 704px) {
    .search-form {
        padding-top: 24px;
        padding-left: 14px;
        padding-bottom: 0;
        position: relative;
        width: 375px;
        height: 688px;
    }

    .div-button-search {
        position: absolute;
        bottom: 18px;
        left: 14px;
    }

    .button-search {
        width: 335px;
        height: 59px;
    }

    .checkboxes {
        display: none;
    }

    .INN {
        width: 335px;
        height: 93px;
    }

    .tonality {
        width: 335px;
        height: 85px;
    }

    .documents {
        width: 335px;
        height: 94px;
        margin-bottom: 21px;
    }

    .range {
        width: 335px;
        height: 157px;

    }

    .input-INN, .select-tonality, .input-documents, .start-date, .end-date {
        width: 335px;
        height: 43px;
    }

    .start-date {
        margin-right: 0;
        margin-bottom: 20px;
    }

}



@media (max-width: 544px) {
    .div-folders {
        display: none;
    }

    .div-green-leaf1 {
        display: none;
    }

    .div-green-leaf2 {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .right-part {
        flex-direction: row;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}
